<!DOCTYPE html>
<html lang="en">
<%- include("head") %>
<body>
        <%-include("nav") %>
        <%if(data.length>0) { %>
            <table border="1">
                <tr><th><a href="/sort/_id">Hno</a></th><th><a href="/sort/name">Name</a></th><th><a href="/sort/age">Age</a></th><th><a href="/sort/gender">Gender</a></th><th>Phno</th><th><a href="/sort/marks">Marks</a></th></tr>
                <%data.forEach((obj)=>{%>
                    <tr>
                        <td><%= obj._id %></td>
                        <td><%= obj.name %></td>
                        <td><%= obj.age %></td>
                        <td><%= obj.gender %></td>
                        <td><%= obj.phno %></td>
                        <td><%= obj.marks %></td>
                        <td><button><a href=<%= `/edit/${obj._id}` %> >Edit</a></button></td>
                        <td><button><a href= <%= `/del/${obj._id}` %> >Delete</a></button></td>
                    </tr>
                    <% }) %> 
            </table>
        <%}else{%>
           
            <img id="notfound" style="width: 50%; position:absolute; top:0%; left: 25%;" src="https://assets-v2.lottiefiles.com/a/d0e676f0-1171-11ee-bc70-a32ccea88159/futyVsSx0M.gif" alt="">
        <%}%>
</body>
</html>