<!DOCTYPE html>
<html lang="en">
<%- include("head") %>
 
  <body>
    <%-include("nav")%>
    <%if(msg!=''){%>

    <div class="search-errmsg" ><%= msg%></div>
    <%}%>
    <form action="/search" class="search">
      <input type="text" placeholder="Enter Hno" name="_id" />
      <input type="submit" value="search" />
    </form>
      <%
    if(data)
    {%>
        <table border="1">
            <tr><th>Hno</th><td> <%=data._id %></td></tr>
            <tr><th>Name</th><td> <%=data.name %></td></tr>
            <tr><th>Marks</th><td> <%=data.marks %></td></tr>
        </table>

    <%}
    %>
  </body>
</html>
